@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a, p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-white);
  }
}

/* Corner */
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px; /* Adicione um border-radius aqui */
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a0a0a;
}
